safetensors
beautifulsoup4
google-generativeai
tqdm
aiofiles
python-multipart
accelerate
scikit-learn
pandas
fastapi
uvicorn[standard]
transformers
sentence-transformers
chromadb
pdfminer.six
pymupdf
chardet
google-generativeai
torch
pydantic
typing
fitz
chardet